/backup
/data
/log
/sampleconfigurations
/temp
/bin/ext-*/*/bin
/bin/ext-*/*/classes
/bin/ext-*/*/eclipsebin
/bin/ext-*/*/gensrc
/bin/ext-*/*/testclasses
/bin/ext-*/*/extensioninfo.xsd
#/bin/ext-*/*/platformhome.properties
/bin/ext-*/*/build.xml
/bin/ext-*/*/resources/items.xsd
/bin/ext-*/*/resources/beans.xsd
#/bin/ext-*/*/resources/*/*-testclasses.xml
/bin/ext-*/*/hmc/bin
/bin/ext-*/*/hmc/classes
/bin/bin/ext-*/*/hmc/resources/hmc.xsd
#/bin/ext-*/*/web/addonsrc
#/bin/ext-*/*/web/testsrc
#/bin/ext-*/*/web/testclasses
/bin/ext-*/*/web/webroot/_ui/addons
/bin/ext-*/*/web/webroot/WEB-INF/classes
/bin/ext-*/*/web/webroot/WEB-INF/messages/addons
/bin/ext-*/*/web/webroot/WEB-INF/tags/addons
/bin/ext-*/*/web/webroot/WEB-INF/tld/addons
/bin/ext-*/*/web/webroot/WEB-INF/views/addons